@use '@angular/material' as mat;
@include mat.core();
@import "src/styles/tp-community-palette";

.home-logo {
    display: block;
    width: 200px;
    padding-top: 48px;
    margin: auto;
}
 
.page-container {
    margin: 3rem;
    padding-bottom: 2rem;
    justify-content: center;
    
    .section-card {
        cursor: pointer;
        max-width: 440px;
        margin: 2em;
        padding-bottom: 0;

        &:hover{
            box-shadow: 24px 24px 0px 0px #efefefaf;
            transform: translateY(-12px);
            transition-duration: 500ms;
        }
    
        a {
            display: inline-block;
            line-height: 64px;
            vertical-align: middle;
        }
    
        mat-icon {
            margin-right: 1vw;
            cursor: pointer;
            font-size: 28px;
            color: mat.get-color-from-palette($tpcommunity-primary-palette,500);
        }

        mat-card-content {
            display: none;
        }

        img {
            transition: transform 200ms ease-in-out 0s;
            height: 300px;
            padding-bottom: 0;
        }
    }
}

@media (max-width: 1440px) {
    .page-container {
        .section-card { 
            img {
                height: 280px;
            }
        }
    }
    
}

@media (max-width: 1280px) {
    .page-container {
        .section-card { 
            img {
                height: 200px;
            }
        }
    }
    
}

@media (max-width: 1024px) {
    .page-container {
        .section-card { 
            img {
                height: 180px;
            }
        }
    }
    
}