// Colori TP Community
//    Primario: #b01c33
//    Secondario: #8c8c8c
//    Negativo: #E62E2E

$tpcommunity-primary-palette: (
  50: #eff9ea,
  100: #d6efcb,
  200: #e64e65,
  300: #e22a46,
  400: #c22139,
  500: #b01c33, //PRIMARY
  600: #a11a2e,
  700: #94182a,
  800: #791322,
  900: #610e1a,
  A100: #f0ffec,
  A200: #fd9fad,
  A400: #fd697f,
  A700: #ff2c4c,
  contrast: (
    50: #000000,
    100: #220f0d,
    200: #3b1516,
    300: #57191d,
    400: #000000,
    500: #000000,
    600: #8c8c8c,
    700: rgba(161, 26, 46, 0.9),
    800: rgba(148, 24, 42, 0.9),
    900: rgba(121, 19, 34, 0.9),
    A100: rgba(97, 14, 26, 0.9),
    A200: rgba(240, 255, 236, 0.9),
    A400: rgba(253, 159, 173, 0.9),
    A700: rgba(253, 105, 127, 0.9),
  ),
);

$tpcommunity-secondary-palette: (
  50: #f0f1f3,
  100: #dbdce0,
  200: #c3c5cc,
  300: #a8a9ad,
  400: #989ca8,
  500: #8c8c8c,
  600: #7e8391,
  700: #737886,
  800: #696e7c,
  900: #565b6b,
  A100: #d7e0fe,
  A200: #a6bafc,
  A400: #6f92ff,
  A700: #567eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$tpcommunity-warn-palette: (
  50: #fce6e6,
  100: #f8c0c0,
  200: #f39797,
  300: #ee6d6d,
  400: #ea4d4d,
  500: #e62e2e,
  600: #e32929,
  700: #df2323,
  800: #db1d1d,
  900: #d51212,
  A100: #ffffff,
  A200: #ffd0d0,
  A400: #ff9d9d,
  A700: #ff8484,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
