@use '@angular/material' as mat;
@include mat.core();
@import "src/styles/tp-community-palette";

.main-sidenav {
  height: 100vh;
  background-color: mat.get-contrast-color-from-palette($tpcommunity-primary-palette,300);
  overflow: hidden;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    padding: 0;
    text-align: center;
    margin: 0 0 1.5em;

    &:first-of-type {
      padding-top: 0.5em;
    }

    a {
      display: block;
      width: 2.5em;
      height: 2.5em;
      padding: 0.5em;

      mat-icon {
        width: 100%;
        height: 100%;
        font-size: 32px;
        color: map-get($tpcommunity-primary-palette, 200);

        &:hover {
          color: map-get($tpcommunity-primary-palette, 100);
        }

        &.active {
          color: map-get($tpcommunity-primary-palette, 100);
        }
      }
    }
  }
}
