pdf-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 70vh;
  filter: drop-shadow(5px 5px 5px #222222);
}

textarea {
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


table {
  width: 100%;
}

.header {
  font-size: 1.4em;
  //height: 10vh;
  margin: 3vh 0;
}

.container {
  max-height: 100%;
  overflow: auto;
}

.pdf-header {
  display: flex;

  mat-paginator {
    width: 100%;
  }

  button {
    height: 50%;
    align-self: center;
  }
}
